* {
    text-align: center;
    margin: 10px;
}
body {
    background-color: rgb(65, 134, 59);
}
#cabecalho {
    margin: 10px auto;
    /* border: 10px; */
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    border-left: 50px;
    border-right: 50px;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(178, 230, 171);
    color: rgb(55, 58, 55);
    font-size: 15px;
}

#formulario {
    background-color: rgb(178, 230, 171);
    border: 1px solid rgb(8, 51, 19);
    color: rgb(55, 58, 55);
    border-radius: 10px;
    width: 80%;
    padding: 50px;
    margin: 40px auto;
    text-align: center;
}

#barra {
    border-radius: 50px;
}
#legenda {
    font-size: 15px;
}

#labelText {
    font-size: 100px;
}

#destino-container {
    text-align: center;
    align-items: center;
    flex-direction: column;{
}

#rodape {
    width: 100px;
    color: rgb(21, 97, 163);
    font-size: 500px;
}